# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Django
db.sqlite3
db.sqlite3-journal
api/media/

# Node
node_modules/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
venv/
.venv/

# Logs
*.log
